# shellcheck shell=bash

# Load any local environment variables
dotenv_if_exists .env.local
source_env_if_exists .envrc.local

# put 'USE_FLOX=n' in .env.local to disable.
# if you wish to enable other flox environments relative to this directory, add
# appropriate `use flox --dir=<dir>` entries in .envrc.local
if [ "${USE_FLOX:-y}" = "y" ]; then
    use flox
fi

