version: "3.9"

services:
  postgres:
    platform: linux/amd64
    image: postgres:16
    container_name: ctrlplane-postgres
    environment:
      POSTGRES_USER: ctrlplane
      POSTGRES_PASSWORD: ctrlplane
      POSTGRES_DB: ctrlplane
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    platform: linux/amd64
    image: redis:7
    container_name: ctrlplane-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  migrations:
    platform: linux/amd64
    image: ctrlplane/migrations:75685e0
    container_name: ctrlplane-migrations
    restart: "no"
    environment:
      POSTGRES_URL: "postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane"
    depends_on:
      - postgres

  webservice:
    platform: linux/amd64
    image: ctrlplane/webservice:75685e0
    # build:
    #   context: .
    #   dockerfile: ./apps/webservice/Dockerfile

    container_name: ctrlplane-webservice
    # command: sleep infinity
    # command: node apps/webservice/server.js
    environment:
      BASE_URL: "http://127.0.0.1" # <set your instance url>
      AUTH_SECRET: "<auth-secret>"
      # AUTH_OIDC_ISSUER: "<oidc-issuer>"
      # AUTH_OIDC_CLIENT_ID: "<oidc-client-id>"
      # AUTH_OIDC_CLIENT_SECRET: "<oidc-client-secret>"

      # AUTH_GOOGLE_CLIENT_ID: <>
      # AUTH_GOOGLE_CLIENT_SECRET: <>

      NEXTAUTH_URL: ${BASE_URL}
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector:4318"
      REDIS_URL: redis://redis:6379
      POSTGRES_URL: postgresql://ctrlplane:ctrlplane@postgres:5432/ctrlplane
      VARIABLES_AES_256_KEY: d2506d733ee210078461c08ee8e1605be75ed73b0941d4b513ab7b159c6fbcd9
      # NODE_PATH: /app/apps/webservice/node_modules/
      # NEXT_RUNTIME: nodejs
      # OTEL_EXPORTER_OTLP_TRACES_PROTOCOL: "http/protobuf"
      # NODE_OPTIONS: "--require=@opentelemetry/instrumentation-pg"
      # NEXT_OTEL_VERBOSE: 1
      # OTEL_LOG_LEVEL: debug
    depends_on:
      - postgres
      - migrations
    ports:
      - "3000:3000"

  jobs:
    platform: linux/amd64
    image: ctrlplane/jobs:75685e0
    container_name: ctrlplane-jobs
    environment:
      POSTGRES_URL: "postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane"
      REDIS_URL: "redis://redis:6379"
      VARIABLES_AES_256_KEY: d2506d733ee210078461c08ee8e1605be75ed73b0941d4b513ab7b159c6fbcd9
    depends_on:
      - postgres

  event-worker:
    platform: linux/amd64
    image: ctrlplane/event-worker:75685e0
    container_name: ctrlplane-event-worker
    environment:
      POSTGRES_URL: "postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane"
      REDIS_URL: "redis://redis:6379"
      VARIABLES_AES_256_KEY: d2506d733ee210078461c08ee8e1605be75ed73b0941d4b513ab7b159c6fbcd9
    depends_on:
      - postgres
      - redis

  # otel-collector:
  #   image: otel/opentelemetry-collector-contrib:latest
  #   container_name: ctrlplane-otel-collector
  #   command: ["--config=/etc/otel-collector-config.yaml"]
  #   volumes:
  #     - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
  #   ports:
  #     - "4317:4317" # OTLP gRPC
  #     - "4318:4318" # OTLP HTTP
  #     - "8125:8125" # StatsD
  #     - "8888:8888" # Telemetry
  #     - "9109:9109" # Prometheus endpoint

volumes:
  postgres_data:
  redis_data:
