version: "3.8"

services:
  database:
    container_name: ctrlplane-database
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ctrlplane
      POSTGRES_USER: ctrlplane
      POSTGRES_PASSWORD: ctrlplane
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: ctrlplane-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  redisinsight:
    image: redis/redisinsight:latest
    container_name: ctrlplane-redisinsight
    links:
      - redis
    ports:
      - "5540:5540"
    volumes:
      - redisinsight-data:/data

volumes:
  db-data:
  redis-data:
  redisinsight-data:
