services:
  postgres:
    platform: linux/amd64
    image: postgres:18
    container_name: ctrlplane-postgres
    environment:
      POSTGRES_USER: ctrlplane
      POSTGRES_PASSWORD: ctrlplane
      POSTGRES_DB: ctrlplane
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ctrlplane -d ctrlplane"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrations:
    build:
      context: .
      dockerfile: ./packages/db/Dockerfile

    container_name: ctrlplane-migrations
    restart: "no"
    environment:
      POSTGRES_URL: "postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane"
    depends_on:
      postgres:
        condition: service_healthy

  jobs:
    build:
      context: .
      dockerfile: ./apps/jobs/Dockerfile

    container_name: ctrlplane-jobs
    environment:
      POSTGRES_URL: "postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane"
      VARIABLES_AES_256_KEY: d2506d733ee210078461c08ee8e1605be75ed73b0941d4b513ab7b159c6fbcd9
    depends_on:
      - postgres

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: ctrlplane-otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "8125:8125" # StatsD
      - "8888:8888" # Telemetry
      - "9109:9109" # Prometheus endpoint

volumes:
  postgres_data:
