version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: ctrlplane-postgres
    environment:
      POSTGRES_USER: ctrlplane
      POSTGRES_PASSWORD: ctrlplane
      POSTGRES_DB: ctrlplane
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: ctrlplane-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  migrations:
    image: ctrlplane/migrations:f8372a7
    container_name: ctrlplane-migrations
    restart: "no"
    environment:
      DATABASE_URL: postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane
    depends_on:
      - postgres

  webservice:
    image: ctrlplane/webservice:a324758
    container_name: ctrlplane-webservice
    environment:
      BASE_URL: "http://127.0.0.1" # <set your instance url>
      AUTH_SECRET: "<auth-secret>"

      # AUTH_OIDC_ISSUER: "<oidc-issuer>"
      # AUTH_OIDC_CLIENT_ID: "<oidc-client-id>"
      # AUTH_OIDC_CLIENT_SECRET: "<oidc-client-secret>"

      DATABASE_URL: postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane
    depends_on:
      - postgres
      - migrations
    ports:
      - "8080:8080"

  job-policy-checker:
    image: ctrlplane/job-policy-checker:a324758
    container_name: ctrlplane-job-policy-checker
    environment:
      POSTGRES_URL: postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane
    depends_on:
      - postgres

  event-worker:
    image: ctrlplane/event-worker:a324758
    container_name: ctrlplane-event-worker
    environment:
      POSTGRES_URL: postgres://ctrlplane:ctrlplane@postgres:5432/ctrlplane
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
  redis_data:
