/* Controls */
.react-flow__controls {
  border: 1px solid theme("colors.neutral.700");
  border-radius: theme("borderRadius.md") !important;
  color: theme("colors.neutral.200") !important;
}

.react-flow__controls-button {
  background-color: theme("colors.neutral.800");
  border-bottom: 1px solid theme("colors.neutral.700");
}

.react-flow__controls-button:hover {
  background-color: theme("colors.neutral.700");
}

.react-flow__controls-button path {
  fill: theme("colors.neutral.400") !important;
}

.react-flow__controls-zoomin {
  border-top: theme("borderRadius.md") !important;
}

/* Nodes */
.react-flow__node-input {
  border: none !important;
}
