.react-grid-layout {
  position: relative;
  min-width: 500px !important;
  min-height: 100% !important;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid theme("colors.neutral.500");
  border-bottom: 2px solid theme("colors.neutral.500");
  bottom: 6px;
  right: 6px;
}

.react-resizable-handle {
  padding: 6px;
}

.react-grid-item.react-grid-placeholder {
  background: theme("colors.neutral.900");
  border-radius: theme("borderRadius.md");
}
