name: Apps / Web

on:
  push:
    branches:
      - main
    paths:
      - "apps/web/**"
      - "packages/**"
      - ".github/workflows/apps-web.yaml"
  pull_request:
    paths:
      - "apps/web/**"
      - "packages/**"
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-image.yaml
    secrets: inherit
    with:
      image-name: ctrlplane/web
      dockerfile: apps/web/Dockerfile
      platform: "linux/amd64"
